<div class="d-flex align-items-center px-5 pb-5 my-5">
    <div class="dcolor w-50">
        <h2>Easy way for all.</h2>
        <p class="my-5 pr-5">
            Retrieve Facebook Live Comment gives you the best way to get your live comments, and you can get only comment that you want automatically for your own business.
        </p>
        <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="d-bd text-white border border-none px-4 py-1 font-weight-bold" style="font-size: 16px;">Let Start</button>

    </div>
    <div class="w-50 text-center">
        <img id="homeImage" src="/assets/image/2682152.jpg" style="max-width: 80%; min-width: 300px">
    </div>
</div>
<div class="p-absolute l-0 b-0 d-bd" style="width: 40%; height: 30px; border-top-right-radius: 40px;"></div>

<script type="text/javascript" src="/assets/js/home.js"></script>