<div class="livecmt mx-5">
    <div class="w-75 mx-auto mt-5">
        <form class="d-flex">
            <input class="dcolor bd-white py-2 pl-2" type="text" placeholder="Live url ..." style="flex: 10; border: 2px solid #2F86B9">
            <input class="text-white d-bd border-0" type="submit" value="Ok" style="flex: 2;">
        </form>
    </div>
    <table class="table table-border my-4 mx-auto" style="border: 4px solid #2F86B9; width: 80%; min-height: 200px">
        <thead>
            <tr class="text-white text-center">
                <th class="p-2 w-50 d-bd">Live Comments</th>
                <th class="p-2 d-bd">Selected Comments</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="align-bottom" style="border: 4px solid #2F86B9;">
                    <ul class="list-unstyled m-0 listcomment">
                        <li style="width: fit-content;">
                            <div class="border border-secondary px-3 py-2 dcolor mb-2" style="border-radius: 10px; font-size: 14px">
                                <p class="font-weight-bold m-0">Commenter</p>
                                <p class="m-0">Hello</p>
                            </div>
                        </li>
                        <li style="width: fit-content;">
                            <div class="border border-secondary px-3 py-2 dcolor mb-2" style="border-radius: 10px; font-size: 14px">
                                <p class="font-weight-bold m-0">Commenter</p>
                                <p class="m-0">Hello</p>
                            </div>
                        </li>
                        <li style="width: fit-content;">
                            <div class="border border-secondary px-3 py-2 dcolor mb-2" style="border-radius: 10px; font-size: 14px">
                                <p class="font-weight-bold m-0">Commenter</p>
                                <p class="m-0">Hello</p>
                            </div>
                        </li>
                        <li style="width: fit-content;">
                            <div class="border border-secondary px-3 py-2 dcolor mb-2" style="border-radius: 10px; font-size: 14px">
                                <p class="font-weight-bold m-0">Commenter</p>
                                <p class="m-0">Hello</p>
                            </div>
                        </li>
                        <li style="width: fit-content;">
                            <div class="border border-secondary px-3 py-2 dcolor mb-2" style="border-radius: 10px; font-size: 14px">
                                <p class="font-weight-bold m-0">Commenter</p>
                                <p class="m-0">Hello</p>
                            </div>
                        </li>
                        <li style="width: fit-content;">
                            <div class="border border-secondary px-3 py-2 dcolor mb-2" style="border-radius: 10px; font-size: 14px">
                                <p class="font-weight-bold m-0">Commenter</p>
                                <p class="m-0">Hello</p>
                            </div>
                        </li>
                    </ul>
                </td>
                <td class="align-bottom" style="border: 4px solid #2F86B9;">
                    <ul class="list-unstyled m-0 listcomment">
                        <li style="width: fit-content;">
                            <div class="border border-secondary px-3 py-2 dcolor mb-2" style="border-radius: 10px; font-size: 14px">
                                <p class="font-weight-bold m-0">Commenter</p>
                                <p class="m-0">Hello</p>
                            </div>
                        </li>
                        <li style="width: fit-content;">
                            <div class="border border-secondary px-3 py-2 dcolor mb-2" style="border-radius: 10px; font-size: 14px">
                                <p class="font-weight-bold m-0">Commenter</p>
                                <p class="m-0">Hello</p>
                            </div>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="keyword w-50 mx-auto mt-5 mb-5">
        <p class="dcolor h6 text-center">Key Word</p>
        <form class="d-flex">
            <input class="dcolor bd-white py-2 pl-2" type="text" placeholder="Key word ..." style="flex: 10; border: 2px solid #2F86B9; font-size: 14px">
            <input class="text-white d-bd border-0" type="submit" value="Get" style="flex: 2;">
        </form>
    </div>
</div>
<script type="text/javascript" src="/assets/js/livecomment.js"></script>