<div>
    <div class="text-center dcolor">
        <p class="h1 font-weight-light mt-5">Choose your plan</p>
        <p class="w-50 m-auto">Our service is free to use under the free user limitation. User may subscribe premium membership to raise the export limit.</p>
    </div>
    <div class="d-flex flex-wrap justify-content-around mx-5 mt-5 px-5 ">
        <div class="mb-5" style="border: 4px solid #2F86B9; min-width: 300px; ">
            <p class="font-weight-bold dcolor mx-3 mt-4">7 DAY TRAIL</p>
            <div class="d-flex dcolor align-items-stretch justify-content-center">
                <p>$</p>
                <h1>00</h1>
                <small class="align-self-end mb-2 ml-2">/week</small>
            </div>
            <ul class="list-group list-group-flush mx-3 mt-4 mb-3 dcolor">
                <li class="list-group-item d-flex justify-content-between" style="border-color: #2f86b94f;">
                    <span>More</span>
                    <span>-</span>
                </li>
                <li class="list-group-item d-flex justify-content-between" style="border-color: #2f86b94f;">
                    <span>More</span>
                    <span>-</span>
                </li>
                <li class="list-group-item d-flex justify-content-between" style="border-color: #2f86b94f;">
                    <span>More</span>
                    <span>-</span>
                </li>
            </ul>
            <button class="w-100 border border-0 text-white d-bd py-3 font-weight-bold">Current Plan</button>
        </div>
        <div class="mb-5" style="border: 4px solid #2F86B9; min-width: 300px;">
            <p class="font-weight-bold dcolor mx-3 mt-4">1 Month</p>
            <div class="d-flex dcolor align-items-stretch justify-content-center">
                <p>$</p>
                <h1>20</h1>
                <small class="align-self-end mb-2 ml-2">/month</small>
            </div>
            <ul class="list-group list-group-flush mx-3 mt-4 mb-3 dcolor">
                <li class="list-group-item d-flex justify-content-between" style="border-color: #2f86b94f;">
                    <span>More</span>
                    <span>-</span>
                </li>
                <li class="list-group-item d-flex justify-content-between" style="border-color: #2f86b94f;">
                    <span>More</span>
                    <span>-</span>
                </li>
                <li class="list-group-item d-flex justify-content-between" style="border-color: #2f86b94f;">
                    <span>More</span>
                    <span>-</span>
                </li>
            </ul>
            <button class="w-100 border border-0 text-white d-bd py-3 font-weight-bold">Upgrade Plan</button>
        </div>
        <div class="mb-5" style="border: 4px solid #2F86B9; min-width: 300px;">
            <p class="font-weight-bold dcolor mx-3 mt-4">1 Year</p>
            <div class="d-flex dcolor align-items-stretch justify-content-center">
                <p>$</p>
                <h1>99</h1>
                <small class="align-self-end mb-2 ml-2">/year</small>
            </div>
            <ul class="list-group list-group-flush mx-3 mt-4 mb-3 dcolor">
                <li class="list-group-item d-flex justify-content-between" style="border-color: #2f86b94f;">
                    <span>More</span>
                    <span>-</span>
                </li>
                <li class="list-group-item d-flex justify-content-between" style="border-color: #2f86b94f;">
                    <span>More</span>
                    <span>-</span>
                </li>
                <li class="list-group-item d-flex justify-content-between" style="border-color: #2f86b94f;">
                    <span>More</span>
                    <span>-</span>
                </li>
            </ul>
            <button class="w-100 border border-0 text-white d-bd py-3 font-weight-bold">Upgrade Plan</button>
        </div>
    </div>
</div>
<div class="p-absolute l-0 b-0 d-bd" style="width: 40%; height: 30px; border-top-right-radius: 40px;"></div>