<table id="tablepage" class="js-sort-table table table-hover mx-auto my-5" style="width: 90%; max-width: 1000px">
    <thead>
        <tr>
            <th scope="col" class="text-center" width="65%">Page Name
            </th>
            </th>
            <th scope="col" class="text-center" width="20%">Status
            </th>
            <th scope="col" class="text-center" width="15%">Edit
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">Tiger Nixon</td>
            <td>Enable</td>
            <td><i class="fas fa-edit"></i><i class="fas fa-trash-alt ml-2"></i></td>
        </tr>
        <tr>
            <td scope="row">Tiger Nixon</td>
            <td>Enable</td>
            <td><i class="fas fa-edit"></i><i class="fas fa-trash-alt ml-2"></i></td>
        </tr>
    </tbody>
</table>