<table id="tableuser" class="js-sort-table table table-hover mx-auto my-5 px-5" style="width: 90%;">
    <thead>
        <tr>
            <th scope="col" class="text-center" width="15%">Username
            </th>
            <th scope="col" class="text-center" width="20%">Email
            </th>
            <th scope="col" class="text-center" width="12%">Telephone
            </th>
            <th scope="col" class="text-center" width="25%" style="min-width: 180px;">Address
            </th>
            <th scope="col" class="text-center" width="10%">Type
            </th>
            <th scope="col" class="text-center" width="10%">Status
            </th>
            <th scope="col" class="text-center" width="8%" style="min-width: 70px;">Edit
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">Tiger Nixon</td>
            <td>Example@emaple.com</td>
            <td>012345678</td>
            <td>23 No, st 213 Village II Sensok Bongkork I Phnom Penh</td>
            <td>Temperary</td>
            <td>Enable</td>
            <td><i class="fas fa-edit"></i><i class="fas fa-trash-alt ml-2"></i></td>
        </tr>
        <tr>
            <td scope="row">Tiger Nixon</td>
            <td>Example@emaple.com</td>
            <td>012345678</td>
            <td>23 No, st 213 Village II Sensok Bongkork I Phnom Penh</td>
            <td>Temperary</td>
            <td>Enable</td>
            <td><i class="fas fa-edit"></i><i class="fas fa-trash-alt ml-2"></i></td>
        </tr>
    </tbody>
</table>